---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";

const title = "PowerCoders";
const description = "View my personal OS app.";
---
s
<Layout title={title} description={description}>
  <Container>
    <div data-pagefind-ignore class="animate">
      <div class="space-y-12">
        <header class="space-y-4">
          <h1 class="text-3xl font-semibold text-black dark:text-white">
            PowerCoders
          </h1>
          <p class="max-w-2xl text-lg text-black/80 dark:text-white/80">
            View my personal OS app and login as a guest here at{" "}
            <Link href="https://GetAnchored.app/login" external>
              GetAnchored.app/login
            </Link>
            .
          </p>
          <p> Explore the repo on GitHub <Link href="https://github.com/dwaynemcyrus/anchored" external>
            here
          </Link>.</p>
        </header>
      </div>
    </div>
  </Container>
</Layout>
