---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>

<h1>Unconfirmed Reminder</h1>

<h2>You Got Mail</h2>

<p>In a few moments you should have an email notification from me (<strong>Cyrus</strong>) in your inbox.</p>

<p>Go check your inbox and confirm your email address in order to begin recieving your letters.</p>

<p><strong>PS:</strong>Be sure to check your Junk or Spam folder if you cannot find the email.</p>

</BaseLayout>