---
const {
  PUBLIC_GISCUS_REPO,
  PUBLIC_GISCUS_REPO_ID,
  PUBLIC_GISCUS_CATEGORY,
  PUBLIC_GISCUS_CATEGORY_ID,
} = import.meta.env;

const enabled = Boolean(
  PUBLIC_GISCUS_REPO &&
    PUBLIC_GISCUS_REPO_ID &&
    PUBLIC_GISCUS_CATEGORY &&
    PUBLIC_GISCUS_CATEGORY_ID,
);
---

{enabled && (
  <>
    <div class="giscus"></div>

    <script
      is:inline
      data-astro-rerun
      src="https://giscus.app/client.js"
      data-repo={PUBLIC_GISCUS_REPO}
      data-repo-id={PUBLIC_GISCUS_REPO_ID}
      data-category={PUBLIC_GISCUS_CATEGORY}
      data-category-id={PUBLIC_GISCUS_CATEGORY_ID}
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async></script>
  </>
)}
