---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";
---

<BaseLayout>

- [ ] Add policies
- [ ] Add expectations
- [ ] FAQ

Note: You will need to confirm your email with a security code found in your email inbox in order to complete your booking.



Fit-Check Fee: USD 0
No-show / late cancellation fee: USD 50
Cancellations or rescheduling must be made at least 48 hours before the scheduled call. If you do not attend, or cancel/reschedule within 48 hours, you authorize a USD 50 charge.

<hr>

<!-- Cal inline embed code begins -->
<!-- <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline-fit-check"></div>
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", "fit-check", {origin:"https://app.cal.com"});

  Cal.ns["fit-check"]("inline", {
    elementOrSelector:"#my-cal-inline-fit-check",
    config: {"layout":"month_view","useSlotsViewOnSmallScreen":"true"},
    calLink: "dwaynemcyrus/fit-check",
  });

  Cal.ns["fit-check"]("ui", {"hideEventTypeDetails":true,"layout":"month_view"});
  </script> -->
  <!-- Cal inline embed code ends -->



<hr>

<!-- Cal inline embed code begins -->
<!-- Cal element-click embed code begins -->

<button
  data-cal-link="dwaynemcyrus/fit-check"
  data-cal-namespace="fit-check"
  data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true","theme":"dark"}'
>
  Schedule Your Call
</button>

 <script type="text/javascript">
    (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", "fit-check", {origin:"https://app.cal.com"});
  
    
    // Important: Please add the following attributes to the element that should trigger the calendar to open upon clicking.
    // `data-cal-link="dwaynemcyrus/fit-check"`
    // data-cal-namespace="fit-check"
    // `data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true","theme":"dark"}'`
  
    Cal.ns["fit-check"]("ui", {"theme":"dark","hideEventTypeDetails":true,"layout":"month_view"});
    </script>
    <!-- Cal element-click embed code ends -->
  <!-- Cal inline embed code ends -->

</BaseLayout>