---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Email Confirmed</h1>

    <h2>Your application is accepted</h2>

    <p>
        Your access to the booking is on its way. Check your email and click the
        link to schedule your time slot.
    </p>

    <p>
        If the email does not appear within a few minutes, check promotions,
        spam, or updates. Then move it to your primary inbox so future
        communications about your <em>Fit-Check</em> do not get buried.
    </p>

    <p>
        Talk soon.<br />

        — Cyrus
    </p>
</BaseLayout>
